
  .body-experiency{
    padding-top: 5%;
    background: white;
    color:black;
    border:1px solid rgb(255, 255, 255);
    display: flex
  }
  .info-experiency{
    margin-bottom: 5%;
    display:flex
  }
  .title-experiency{
    text-align: center;
    display: block;
    font-size: 2.3em;
    font-weight: bold;
    align-items: flex-start;
    padding-top: 8%;
    padding-left: 10%;
  }
  .card-exp{ 
    width:50%;
    margin-bottom:10px;
    margin-left:5%;
    align-items: flex-end;
  }
  .img-exp{
    height: 48px;
    width: 60px;
    margin-right: 50px;  
  }
 